
#message-sidebar, #conversation-wrapper {
    height: calc(100vh - var(--bulma-navbar-height));
}

#message-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid var(--bulma-primary-on-scheme);

    .conversations-label {
        position: sticky;
        top: 0;
        background: var(--bulma-scheme-invert);
        z-index: 9;
    }

    /* prevent overflow of the sidebar. apparently allows flex child to not be bigger than parent */
    .media .media-content {
        min-width: 0;
    }

    a {
        display: block;
        text-decoration: none;
    }
    .msg-preview {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%; /* avoid horizontal overflow */
    }

    .sidebar-username {
        font-style: italic;

        &::before {
            content: "@";
        }
    }
}
#conversation-wrapper {
    --msg-header-height: 40px;
    --msg-sender-height: 40px;

    display: flex;
    flex-direction: column;

    #conversation {
        display: flex;
        flex-direction: column;
        height: 100%;

        #convo-header {
            border-bottom: 1px solid var(--bulma-primary-on-scheme);

            .hero-body {
                padding: 0.3rem 0.75rem;
            }

            h2 {
                font-size: 20px;
                font-weight: bold;
            }
        }

        #message-container {
            flex-grow: 1;

            /* order the messages in reverse
             * also handles displaying new messages but not scrolling if the user is looking at old messages */
            display: flex;
            flex-direction: column-reverse;
            overflow-y: scroll;

            padding: 5px 10px;

            .message {
                /*
                    The messages are in reverse order in the DOM, so this gets confusing!
                    First: when a new user starts speaking *and* sends more than one message, get rid of bottom separation
                    Second: when a user sends more than one message, get rid of top separation
                */
                &[data-user=self] + [data-user=self],
                &[data-user=other] + [data-user=other] {
                    margin-bottom: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-bottom: 0;
                }

                &[data-user=self]:has(+ .message[data-user=self]),
                &[data-user=other]:has(+ .message[data-user=other]) {
                    margin-top: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    .msg-from {
                        display: none;
                    }

                    &:not(:last-of-type) {
                        padding-top: 0;
                    }
                }
            }


            /* FIXME: messages styling overriden sometimes by app.css styles and bulma styles */
            div.message-block {
                display: block;
                padding: 10px;
                height: auto;
                width: 100%;
                margin: 5px auto;
            }
        }

        #message-form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex: 0 0 var(--msg-sender-height);

            .field {
                width: 100%;
            }
        }
    }

}

#app[data-file="messages"] {
    padding: 0 !important;
    display: flex;
    flex-direction: row;

    /* hide footer */
    + footer {
        display: none;
    }
}

html {
    overflow: auto;
}
