
#message-sidebar, #conversation-wrapper {
    height: calc(100vh - var(--bulma-navbar-height));
    color: white;
}

#message-sidebar {
    overflow-y: auto;
    overflow-x: hidden;

    a {
        display: block;
        text-decoration: none;
    }
    .msg-preview {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: calc(100% - 5px); /* avoid horizontal overflow */
    }

    .sidebar-username {
        font-style: italic;

        &::before {
            content: "@";
        }
    }
}
#conversation-wrapper {
    --msg-header-height: 40px;
    --msg-sender-height: 40px;

    display: flex;
    flex-direction: column;

    #conversation {
        #convo-header {
            height: var(--msg-header-height);
            padding: 0 10px;
            background-color: #555;
            line-height: var(--msg-header-height);
            
            h2 {
                font-size: 20px;
                font-weight: bold;
            }
        }
        
        #message-container {
            /* order the messages in reverse
             * also handles displaying new messages but not scrolling if the user is looking at old messages */
            display: flex;
            flex-direction: column-reverse;
            overflow-y: scroll;
            
            padding: 5px 10px;
            background-color: #444;

            height: calc(100vh - var(--bulma-navbar-height) - var(--msg-sender-height) - var(--msg-header-height));

            .message {
                /*
                    The messages are in reverse order in the DOM, so this gets confusing!
                    First: when a new user starts speaking *and* sends more than one message, get rid of bottom separation
                    Second: when a user sends more than one message, get rid of top separation
                */
                &[data-user=self] + [data-user=self],
                &[data-user=other] + [data-user=other] {
                    margin-bottom: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-bottom: 0;
                }

                &[data-user=self]:has(+ .message[data-user=self]),
                &[data-user=other]:has(+ .message[data-user=other]) {
                    margin-top: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    .msg-from {
                        display: none;
                    }

                    &:not(:last-of-type) {
                        padding-top: 0;
                    }
                }
            }
            
    
            /* FIXME: messages styling overriden sometimes by app.css styles and bulma styles */
            div.message-block {
                display: block;
                padding: 10px;
                height: auto;
                width: 100%;
                margin: 5px auto;
    
                color: #ccc;
    
                &:hover {
                    background-color: #666;
                }


                &.message {
                    background-color: #555;

                    h4 {
                        color: lightyellow;
                    }
                }
                &.appointment {
                    background-color: #333;

                    h4 {
                        color: lightgreen;
                    }
                }
            }
        }

        #message-form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: var(--msg-sender-height);
            background-color: #555;

            #create-appt-button {
                width: var(--msg-sender-height);
                padding: 0 10px;
                height: 100%;
            }
    
            /* TODO: override the default focus look */
            input {
                width: 100%;
                height: 100%;
                padding: 0 10px;
                border: none;
                background-color: #000;
                color: white;
            }
    
            #send-button {
                height: 100%;
                padding: 0 10px;
                border: none;
                background-color: #777;
                color: white;
            }
        
        }
    }
 
}

#app[data-file="messages"] {
    padding: 0 !important;
    display: flex;
    flex-direction: row;

    /* hide footer */
    + footer {
        display: none;
    }
}

html {
    overflow: auto;
}