[data-file="profile"] {

    .profile-knows, .profile-interests {
        a:not(:first-of-type)::before {
            content: ", ";
        }
    }

    .profile-appointments-card-topic {
        font-style: italic;
    }
}