body {
    margin: 0;
    font-family: sans-serif;
}

.main-content {
    margin: 10px;
}

.message {
    display: flex;
    height: 80px;
    gap: 10px;
    border: lightgrey solid 1px;
    padding: 5px;
}

.message img, .message image {
    width: auto;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

.message div {
    width: 100%;
}

.message div h2, .message div p {
    margin: 10px 0;
}

.skills {
    background-color: aqua;
}

.skill ~ .skill:before {
    content: ", ";
}

.profile-picture {
    width: auto;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    z-index: 99999;
    align-content: center;
    background-color: color-mix(in srgb, var(--bulma-primary-soft) 20%, transparent);
    transition: 0.2s opacity linear;
    opacity: 0;
    pointer-events: none;

    .loader-wrapper {
        display: flex;
        justify-content: center;
    }

    &.is-active {
        opacity: 1;
        pointer-events: all;
    }

    .loader {
        --bulma-border: var(--bulma-primary-bold);
    }
}

#search-div {
    display: flex;
    width: 100%;
    /* height: 2em; */
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

/* #search-box {
    width: 50%;
}

#search-button {
    background-color: var(--bulma-primary-bold);
    border-radius: 5px;
    padding: 0.5em;
} */

#browse {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#app {
    /* Prevent footer from jumping in page before content loads */
    min-height: calc(100vh - 52px);
    margin: 10px 0 0 0;
}