
#message-sidebar, #conversation-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--bulma-navbar-height));
    color: white;
}

#message-sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #333;

    a {
        display: block;
        text-decoration: none;
        color: white; /* FIXME: figure out what bulma colors to use */
    }
    .msg-preview {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sidebar-username {
        font-weight: bold;
        color: yellow; /* FIXME: figure out what bulma colors to use */
    }
    .selected-chat {
        background-color: #555;
    }
}
#conversation-wrapper {
    --bulma-msg-header-height: 30px;
    --bulma-msg-sender-height: 30px;

    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #444;
    
    #conversation #convo-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: var(--bulma-msg-header-height);
        padding: 0 10px;
        background-color: #555;

        #convo-title {
            font-size: 1.5rem;
        }
    }

    #conversation #message-container {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 10px;
        background-color: #444;
        
        height: calc(100vh - var(--bulma-navbar-height) - var(--bulma-msg-sender-height) - var(--bulma-msg-header-height));
        display: flex;
        flex-direction: column-reverse;

        .message {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            background-color: #555;

            img, image {
                width: auto;
                height: 100%;
                overflow: hidden;
                object-fit: contain;
            }

            div {
                width: 100%;
            }

            div h2, div p {
                margin: 10px 0;
            }

            &:hover {
                background-color: #666;
            }
        }
    }

    #conversation #message-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: var(--bulma-msg-sender-height);
        padding: 0 10px;
        background-color: #555;

        #message-input {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            border: none;
            background-color: #666;
            color: white;
        }

        #send-button {
            height: 100%;
            padding: 0 10px;
            border: none;
            background-color: #777;
            color: white;
        }
    
    }
}

#app {
    padding: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center;
    height: calc(100vh - var(--bulma-navbar-height)); */
}