body {
  position: relative;
  font-family: sans-serif;
  background-color: #2e2e2e;
  color: #ecf0f1;
  margin: 0;
}

#vision {
  text-align: center;
}

@media (width <= 564px) {
  #navbar {
    a {
      flex-basis: 100%;
    }
  }
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  padding: 5px 0;
  text-align: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 99;
  font-size: 1.25em;
  background-color: #2d3436;
  border-bottom: 0.5px solid white;
}

nav a,
#wire-frames a {
  transition: color 0.2s ease-out;
  text-decoration: none;

  &,
  &:visited {
    color: #f39c12;
  }

  &:hover,
  &:focus {
    color: #f4e9be;
  }
}

section,
main section {
  scroll-margin-top: 55px;
  margin: 0 30px;
}

main section {
  line-height: 1.4em;

  h2 {
    height: 20px;

    .word-count {
      font-weight: normal;
      font-size: 0.75rem;
      margin-left: 10px;
      vertical-align: text-bottom;
    }
  }

  br {
    margin-bottom: 10px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#team {
  text-align: center;

  h2 {
    text-align: left;
  }

  .pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: transform 0.2s;
    transform: rotate(0deg);

    &:hover {
      transition: transform 0.8s;
      transform: rotate(360deg);
    }
  }

  .name {
    font-weight: bolder;
    font-size: 1.1rem;
  }

  .name,
  .role,
  .bio {
    display: block;
    margin: 10px 0;
  }

  .role {
    &:before {
      content: "Role: ";
      display: inline;
      font-weight: 600;
    }
  }

  .bio {
    max-width: 80%;
    margin-left: 10%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-min-width, 200px), 1fr));
  gap: 20px;
}

#wire-frames {
  .grid {
    --grid-item-min-width: 400px;
  }

  img {
    width: 100%;
  }

  figcaption {
    margin-top: 10px;
  }
}

footer {
  border-top: 0.5px solid white;
  margin-top: 30px;
  padding: 20px 30px;
}
