body {
    margin: 0;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    padding: 5px 0;
    text-align: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 99;
    font-size: 1.25em;
    background-color: #2d3436;
    border-bottom: 0.5px solid white;
}

#navbar a {
    transition: color 0.2s ease-out;
    text-decoration: none;
    color: #f39c12;
}

#navbar a:hover, #navbar a:focus {
    color: #f4e9be;
}